* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	color: #fff;
	background-color: #F0A830;
	font-family: 'Oxygen', sans-serif;
}

#header-nav {
	background-color: #c06014;
	border-radius: 0;
	border:0;
}

#banner {
	margin: 10px 15px 10px 15px;
	border: 1px solid black;
}




.navbar-brand {
	padding-top: 50px;
}

.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: #ffffff;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 2px 2px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
	color: #222;
	text-shadow: 2px 2px 2px #fff;
}
.navbar-brand a {
	text-decoration: none;
	color: #fff;
	text-shadow: 2px 2px 2px #222;

}

.navbar-brand p {
	color: #fff;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: -10px;
}

#nav-list {
	color:white;
}


#nav-list a {
	color:white;
	padding-right: 30px;
	padding-left: 30px;
	text-shadow: 1px 1px 1px #000;

}

#nav-list a:hover {
	background-color:#F0A830;
}

#nav-list .active-nav {
	background-color:#F0A830;
	color:black;
	text-shadow: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 2px solid #704F16;
	}

.navbar-header button.navbar-toggle {
	clear:both;
}

.row {
	color:black;
}

.container .jumbotron {
	box-shadow: 0 0 50px #704F16;
	background-color: #F2C579;
}

.row p {
	margin-top: 15px;
}

.sub-img {
	width: 250px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 25px black;
}

	#sub1 {
	background-image: url(../pictures/sub_img_lg_1.png);
}

	#sub2 {
	background-image: url(../pictures/sub_img_lg_2.png);
}
	
	#sub3 {
	background-image: url(../pictures/map.png);
}

	#p1, #p2, #p3 {
		text-align:center;
	}



/********** MEDIA QUERIES ***************/

/********** Large only **************/

@media (min-width: 1200px){
	#banner {
		width: 450px;
		height: 200px;
		background-image: url(../pictures/banner.png);
	}
}


/********** Medium only **************/

@media (min-width: 992px) and (max-width: 1199px){

	#banner{
		width: 400px;
		height: 200px;
	}

	.navbar-brand {
		padding-top: 50px;
}

	#sub3 {
		float: left;
		margin-left: 100px;
		margin-top: 30px;
	}

	#p3 {
		margin-left: 430px;
		padding-top:30px;
	}

	#col3 {
		margin-top: 30px;
	}

	#logo-img {
		width: 400px;
		height: 250px;
	}
}

/********** small only ***************/

@media (min-width: 768px) and (max-width: 991px){
	
	.navbar-brand h1 {
		font-size: 1em;
	}

	#nav-list {
		width: 100%;
		margin-top: 15px;
	}

	#banner{
		width: 300px;
		height: 150px;
	}

	#p1, #p2, #p3 {
		margin-left: 210px;
	}

	.sub-img {
		float:left;
		margin-left: 15px;
		height: 150px;
		width: 150px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.navbar-brand {
		padding-top: 25px;
}

	#sub1 {
		background-image: url(../pictures/sub_img_sm_1.png);
}

	#sub2 {
		background-image: url(../pictures/sub_img_sm_2.png);
}
	
	#sub3 {
		background-image: url(../pictures/map_sm.png);
}




}

/*********** xs only ***************/

@media (max-width: 767px){

	.navbar-brand h1 {
		font-size: 5vw;
	}
	#header-nav {
		min-height: 175px;
	}
	.navbar-brand p {
		margin-top: 10px;

	}

	#nav-list a {
		font-size: 3vw;
		text-align: center;
	}

	#collapsable-nav a span {
		margin-right: 5px;
	}


	.sub-img {
		float:left;
		margin-left: 15px;
		height: 120px;
		width: 120px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	#p1, #p2, #p3 {
		margin-left: 145px;
		font-size: 0.8em;
		margin-top: 0px;
	}

	#p2, #p3 {
		margin-top: 13vw;
	}

	#p1 {
		margin-top: 5vw;
	}


	#tel-xs {
		border-radius: 10px;
		border: 2px solid #704F16;
		text-align: center;
		font-size: 2em;
		margin-bottom: 20px;

	}

	#tel-xs a {
		text-decoration: none;
		color: #fff;
		text-shadow: 2px 2px 2px #222;
	}

	#tel-xs a:focus, #tel-xs a:hover {
		text-decoration: none;
		color: #222;
		text-shadow: 2px 2px 2px #fff;
	}

}

