
body {
	/*background-color: #d0d0d0;*/
	margin: auto;
	width: 100%;
	min-width: 1000px;
    border: 3px solid green;
    font-family: Arial, Helvetica, sans-serif; 
}

* {
	box-sizing: border-box;
}

#banner {
		padding: 15px;
		text-transform: uppercase;

		font-size: 50px;
		font-weight: bold;
		text-align: center;
		margin-top: 10px;
		background-image: url(pictures/banner.png);
		height: 95px;
}


#tabs {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 630px;

}

#tabs > span {
	font-weight: bold;
	padding: 5px;
	margin-left: 3px;
	margin-right: 3px;
	border: 3px solid green;
	text-indent:center;
}


#leftmenu {
	float: left;
	border: 3px solid green;
	border-left:none;
	border-right: none;
	background-image: url(pictures/leftmenu.png);
	text-align: center;
	color: blue;
	width: 200px;
	height: 600px;
}

#rightmenu {
	width:200px;
	height:600px;
	position: fixed;
	top:146px;
	right: 5px;
	padding: 5px;
	border: 3px solid green;
	border-right: none;
	border-left: none;
	text-align: center;
	margin-left: 1000px;
	text-transform: capitalize;
}

#rightmenu > div {
	padding: 15px;
	margin-top: 3px;
	margin-bottom: 3px;
	height: 50px;
	border: 1px solid green;
	font-weight: bold;
}

#main {
	padding: 5px;
	border: 3px solid green;
	margin-right: 200px;
	margin-left: 200px;

}



#rightmenu div:nth-child(odd) {
	background-color: lightgrey;	
	color: black;
}


#rightmenu div:nth-child(even) {
	background-color: grey;	
	color: black;
}

footer {
	clear: both;
	background-image: url(pictures/footer.png);
	height: 200px;
}
